<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<h1>Bitcoin and Ethereum Prices</h1>
<h2>Recommended prices for buying(Ask) and Selling(Bid) are on the top of the book along with the Exchanges.</h2>
<h2>BTC</h2>

<table style="width:100%">
  <tr>
    <th>Bid Exchange</th>
    <th>Bid Price</th>
    <th>Bid Size</th>


    <th>Ask Price</th>
    <th>Ask Size</th>
    <th>Ask Exchange</th>
 </tr>
 <tr>
    <th style="background-color:green"> {{bid_excg}} </th>
    <th> {{bid_px}}</th>
    <th> {{bid_sz}}</th>


    <th> {{ask_px}}</th>
    <th> {{ask_sz}} </th>
    <th style="background-color:green"> {{ask_excg}} </th>
 </tr>
 <tr>
    <th> {{bid_excg_2}} </th>
    <th> {{bid_px_2}}</th>
    <th> {{bid_sz_2}}</th>


    <th> {{ask_px_2}}</th>
    <th> {{ask_sz_2}} </th>
    <th> {{ask_excg_2}} </th>
 </tr>
</table>

<h2>ETH</h2>

<table style="width:100%">
  <tr>
    <th>Bid Exchange</th>
    <th>Bid Price</th>
    <th>Bid Size</th>


    <th>Ask Price</th>
    <th>Ask Size</th>
    <th>Ask Exchange</th>
 </tr>
 <tr>
    <th style="background-color:green"> {{ETH_bid_excg}} </th>
    <th> {{ETH_bid_px}}</th>
    <th> {{ETH_bid_sz}}</th>


    <th> {{ETH_ask_px}}</th>
    <th> {{ETH_ask_sz}} </th>
    <th style="background-color:green"> {{ETH_ask_excg}} </th>
 </tr>
 <tr>
    <th> {{ETH_bid_excg_2}} </th>
    <th> {{ETH_bid_px_2}}</th>
    <th> {{ETH_bid_sz_2}}</th>


    <th> {{ETH_ask_px_2}}</th>
    <th> {{ETH_ask_sz_2}} </th>
    <th> {{ETH_ask_excg_2}} </th>
 </tr>
</table>


</body>
</html>